<h1>Here are your memes</h1>

<div class="container">

    {{#each memesToShow}}
    <div class="meme">
        <a href="/getDetails?id={{this._id}}">
                <img class="memePoster" src="{{this.memePath}}"/>          
            </a>
    </div>
    {{/each}}


</div>