<div class="body body-container">
  <div class="details-article">
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">{{model.title}}</h1>

          <!-- Author -->
          <p class="lead">
            by
            <a href="#">{{model.author}}</a>
          </p>
          <hr>
          <p>Posted on {{model.date}}</p>
          <hr>
          <img class="img-fluid rounded" src="{{model.imgUrl}}" style="width:100%" alt="">

          <hr>
          <p class="lead">{{model.description}}</p>

          <hr>

          <!-- Comments Form -->
          <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
              <form (ngSubmit)="addComment()">
                <div class="form-group">
                  <textarea [(ngModel)]="comment.content" name="content" #description="ngModel" class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>

          <hr/>
          <!-- Single Comment -->
          <div *ngFor="let comment of comments">
            <div class="media mb-4">
              <div class="media-body">
                <h5 class="mt-0">
                  <i>{{comment.author}}</i> {{comment.date}}</h5>
                <p>{{comment.content}}</p>
                <div *ngIf="comment._id == forEdit">
                  <form>
                    <div class="form-group">
                      <textarea [(ngModel)]="comment.content" name="content" #content="ngModel" class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" (click)="saveComment(comment._id, comment.content)" class="btn btn-primary">Save</button>
                  </form>
                </div>
              </div>
              <button *ngIf="loggedUser == comment.author || isAdmin" class="btn btn-primary" (click)="deleteComment(comment._id)">delete</button>
              <button  *ngIf="loggedUser == comment.author || isAdmin" class="btn btn-primary" (click)="editComment(comment._id)">edit</button>
            
            </div>
            <hr/>
          </div>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Categories Widget -->
         

          <!-- Side Widget -->
         

        </div>

      </div>
      <!-- /.row -->

    </div>
  </div>
</div>