<div class="container body-container">
  <div class="row">
    <div *ngIf="!checker" class="alert alert-danger">
      All fields are required
    </div>
    <form class="col-md-4" (ngSubmit)="addArticle()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Title" required [(ngModel)]="model.title" name="title" #title="ngModel">
      </div>
      <div class="form-group">
        <label for="title">Image Url</label>
        <input type="text" class="form-control" id="title" placeholder="Title" required [(ngModel)]="model.imgUrl" name="imgUrl"
          #imgUrl="ngModel">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="3" required [(ngModel)]="model.description" name="description" #description="ngModel"></textarea>
      </div>
      <button id="submit" name="submit" class="btn btn-primary">Add article</button>
    </form>
    <div class="col-md-4">
        <label>Image Previewer</label>
        <img src={{model.imgUrl}} class="img-responsive">
      </div>
  </div>
  <br/>
  <legend>List of articles</legend>

  <div class="row">
    <div *ngFor="let item of articles">
      <div class="col-md-2">
        <div class="card">
          <a href="#">
            <img class="articleImg" src="{{item.imgUrl}}" alt="image">
          </a>
          <div>
            <h4>
              <a href="#">{{item.title}}</a>
            </h4>
            <p>{{item.description.length > 100 ? item.description.substring(0, 100) + "..." : item.description}}</p>
            <button *ngIf="item.description.length > 100" (click)="editArticle(item._id)">Read more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>